@font-face {
    font-family: 'MotivaSans-Regular';
    src: url('https://raw.githubusercontent.com/kvnmtz/motiva-sans-fontface/master/MotivaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
